/build
app/src/main/assets/model_float16_quant.tflite
app/src/main/assets/model_float32.tflite
app/src/main/assets/model_full_integer_quant.tflite
app/src/main/assets/model_full_integer_quant_edgetpu.tflite